// Components: Banner
.banner {
  display: grid;
  gap: 28px;
  text-align: left;
  padding-top: 50px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 768px){
    padding: 20px 10px;
  }

  .banner__content {
  display: grid;
  border-radius: 5px;

  img {
    max-width: 370px;
    height: auto;
    display: block;
  }

  @media (min-width: 768px) {
    grid-template-rows: auto 1fr;
  }
  }

  .banner__title {
    margin: 10px 0 0 0;
    font-weight: 700;
  }

  .banner__text {
    margin: 0;
  }
  
  a{
    margin-top: 14px;
  }
}

