// Components: Banner
.banner {
  display: grid;
  gap: $spacing-unit * 2;
  text-align: left;
  padding-top: $spacing-unit * 3;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 768px){
    padding: $spacing-unit*2 $spacing-unit;
  }

  .banner__content {
  display: grid;
  border-radius: 5px;

  img {
    max-width: 370px;
    height: auto;
    display: block;
  }

  @media (min-width: 768px) {
    grid-template-rows: auto 1fr;
  }
  }

  .banner__title {
    margin: $spacing-unit 0 0 0;
    font-weight: 700;
  }

  .banner__text {
    margin: 0;
  }
  
  a{
    margin-top: $spacing-unit;
  }
}

