// Components: Footer
.footer {
  background-color: $color-footer;
  color: $font-color-grey;
  display: flex;
  padding: $spacing-unit * 8 0px;
  box-shadow: 0 0 $spacing-unit 0 $color-muted;
  margin-top: $spacing-unit * 8;

  .container{
    @include flex-center;
    margin: 0 auto;
    text-align:center;
    width:770px;

    @media (max-width: 768px) {
        flex-direction: column-reverse;
      }

    .section {
    display: flex;
    align-items: left;
    flex-direction: column;
    height: 100%;
    
    &.social {
      .icons{
        min-width: 145px;
        text-align: left;
        margin:0;

        @media (max-width: 768px) {
          text-align: center;
        }
      }

      img {
        width: 40px;
        height: 40px;
        margin-right: $spacing-unit;
        @media (max-width: 768px) {
          margin: 0px $spacing-unit;
        }
      }

      p{
        margin-top: $spacing-unit * 2;
        text-align: left;
        margin-right:30px;
        @media (max-width: 768px) {
          text-align: center;
          margin-right:0px;
        }
      }
    }

    &.contact {
      flex-direction: column;
      text-align: left;
      flex: 1;
      padding-bottom: $spacing-unit * 3;

      @media (max-width: 768px) {
          text-align: center;
      }
      .contact__office{
        margin:0;
        font-weight: 700;
      }
      .contact__add{
        margin:0;
        font-style: normal;
      }
      .contact__details{
        margin: $spacing-unit * 3 0 0 0;
      }
      .contact__phone{
        margin:0;
      }

      
    }
  }
}
  }

  

