// Components: Header
.header {
  background-color: $color-white;
  color: $color-dark;
  padding: 40px 0;

  .container {
    @include flex-center;
    justify-content: space-between;
    text-align:center;

  .logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    width:100%;
    text-align:left;
    padding: 10px;
    
    @media (min-width: 768px) {
      text-align:center;
    }
  }
}
}