<!DOCTYPE html>
<html lang="en-NZ">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    {{> _header }}
    <main id="main" class="l-container">
        <h1>{{title}}</h1>
        <div class="o-row">
            {{#each projects}}
                <div class="o-col-6">
                    <div class="c-card">
                        <h3>{{this.title}}</h3>
                        <p>{{this.category}}</p>
                    </div>
                </div>
            {{/each}}
        </div>
    </main>
</body>
</html>
