// Settings: Variables
$color-primary: #008FFF;
$color-secondary: #53B16A;
$color-dark: #101820;
$color-white: #ffffff;
$color-muted: #D2DCE8;
$color-footer: #FAFAFA;
$font-family-base: 'Arial', sans-serif;
$font-size-base: 14px;
$font-color-grey: #697B95;
$spacing-unit: 10px;
$grid-columns: 12;
$grid-gutter: 10px;