// Elements: Base
html {
  min-width: 380px;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-family-base;
  color: $font-color-grey;
}
body {
  margin: 0;
  padding: 0;
}
a{
    color: $color-primary;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.2s ease;
}
.main {
  .container {
  max-width: 770px;
  margin: 0 auto;
  text-align:left;

  .form-title{
   padding: 0 10px;
   color: $font-color-grey;
  }

  @media (min-width: 768px) {
    text-align:center;
  }
  }

  hr{
    border: none;        
    border-top: 2px dotted $font-color-grey; 
    height: 0px; 
    width: 25%;
  }
}




